.container-root{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
    .order-container{
        display: grid;
        grid-template-columns: 300px 1fr;
        width: 70%;
        

        .info{
            padding: 10px;
            

            .identity{
                display: flex;
                flex-direction: column;
                align-items: center;

                .name-order{
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 1px;
                }
            }

            .detail-saldo{
                .saldo-header{
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 1px;
                }

                .saldo{
                    font-size: 13px;
                    font-weight: 700;
                    color: orange;
                    letter-spacing: 1px;
                }
            }
        }

        .order-produk{
            padding: 8px 12px;
            

            .card-produk{
                display: flex;
                flex-direction: column;

                .card-detail{
                    display: flex;
                    flex-direction: row;
                    
                    .detail{
                        flex: 1;
                        display: flex;
                        flex-direction: row;
                        
                        .detail-info{
                            margin-left: 20px;
                            display: flex;
                            flex-direction: column;

                            .item {
                                font-size: 15px;
                                font-weight: 700;
                                
                            }
                        }
                    }

                    .detail-pembayaran{
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        width: 200px;
                        

                        .price-order{
                            color: orange;
                            font-weight: 600;
                            font-size: 14px;
                            letter-spacing: 2px;
                        }
                    }
                }

                .card-transaction{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    color: orange;
                }
            }
        }
    }
}