.slick-arrow{
    background-color: rgb(87, 85, 85);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: black;
    
    }
    
    .slick-arrow:hover{
      background-color: black;
    }
    
    
    .slick-prev {
      left: -10px !important;
      z-index: 100;
    }
    .slick-next {
      right: -10px !important;
      z-index: 100;
    }
    .test{
      background-color: greenyellow;
    }

.containerlanding{
    width : 100% ;
    margin-top : 30px ; 
   
    height : 700px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1200px;
}

.body-landing{
    width : 70%;
     
}
.main{
    margin-top : 30px ; 
   
} 
.titlemain{
    text-align : center;
    font-weight : 600 ;
}
.fiture {
    height : 100% ; 
    
}
.items{
    position : absolute; 
    left : 0 ;
    bottom : 0 ;
    background-color : white;
    padding : 10px;
}

.product2{
    margin-top: 50px;
}
.list-product{
    margin: 30px 0px;
    height: 700px;
}

.productitle{
    text-align: center;
    font-weight: 600;
}

.info{
    text-align: center;
    font-size: 13px;
}

.buttoncart{
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
    padding: 8px;
    outline: none;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: orange;
    color: white;
}