.containerfooter{
    width: 100%;
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.body-footer{
    width: 70%;
   display: grid;
   grid-template-columns: repeat(auto-fit , minmax(10rem , 20rem));
   justify-content: center;
   border: 1px solid black;

}
.list-links{
    list-style: none;
    padding: 0;
}

.links{
    text-decoration: none;
    color: #9A9A9A;
}

.list-links li{
    margin-bottom: 8px;
}